# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/


# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.mvn/timing.properties

# Spring Boot
application*.properties
application*.yml
application*.yaml

# Gradle
.gradle/
gradle/
build/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
.env

# Misc
*.log
*.swp
*.swo
*~
.classpath
.project
.settings/
.sts4-cache/
